@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(97.4% .026 90.1);
  --foreground: oklch(30% .02 150);
  --primary: oklch(45% .12 145);
  --primary-foreground: oklch(97.4% .026 90.1);
  --muted: oklch(93.7% .031 98.9);
  --muted-foreground: oklch(55% .02 150);
  --border: oklch(89.2% .028 98.1);
  --input: oklch(89.2% .028 98.1);
  --card: oklch(95.2% .031 98.9);
  --card-foreground: oklch(30% .02 150);
  --secondary: oklch(93.7% .031 98.9);
  --secondary-foreground: oklch(30% .02 150);
  --accent: oklch(93.7% .031 98.9);
  --accent-foreground: oklch(30% .02 150);
  --ring: oklch(45% .12 145);
}

.dark {
  --background: oklch(32.4% .015 240.4);
  --foreground: oklch(83% .041 86.1);
  --primary: oklch(77.3% .091 125.8);
  --primary-foreground: oklch(32.4% .015 240.4);
  --muted: oklch(38.6% .019 229.5);
  --muted-foreground: oklch(62% .02 229);
  --border: oklch(51.5% .021 232.9);
  --input: oklch(51.5% .021 232.9);
  --card: oklch(36% .017 227.1);
  --card-foreground: oklch(83% .041 86.1);
  --secondary: oklch(38.6% .019 229.5);
  --secondary-foreground: oklch(83% .041 86.1);
  --accent: oklch(38.6% .019 229.5);
  --accent-foreground: oklch(83% .041 86.1);
  --ring: oklch(77.3% .091 125.8);
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
